@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    //ViewBag.Title = "Home";
}

@model TVProject.Domain.Entities.User.URegData

<!-- login section -->

<section class="about_section layout_padding">
    <div class="container">
        @using (Html.BeginForm("Index", "Register", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

        <div style="padding: 20px; background: #00c6a9; color: white; margin: auto; text-align: center;">
            <div style="padding: 10px">
                <h1>Authorization page</h1>
            </div>

            <div style="width: fit-content; margin: auto; padding: 10px">
                @Html.LabelFor(m => m.Credential, new { style = "text-align: left; width: 100%" })
                <br />
                @Html.TextBoxFor(m => m.Credential, new { style = "padding: 10px 20px; border: none; outline: none;" })
            </div>

            <div style="width: fit-content; margin: auto; padding: 10px">
                @Html.LabelFor(m => m.Email, new { style = "text-align: left; width: 100%" })
                <br />
                @Html.TextBoxFor(m => m.Email, new { style = "padding: 10px 20px; border: none; outline: none;" })
            </div>

            <div style="width: fit-content; margin: auto; padding: 10px">
                @Html.LabelFor(m => m.Password, new { style = "text-align: left; width: 100%" })
                <br />
                @Html.PasswordFor(m => m.Password, new { style = "padding: 10px 20px; border: none; outline: none;" })
            </div>

            <div style="width: fit-content; margin: auto; padding: 10px">
                @Html.LabelFor(m => m.ConfirmPassword, new { style = "text-align: left; width: 100%" })
                <br />
                @Html.PasswordFor(m => m.ConfirmPassword, new { style = "padding: 10px 20px; border: none; outline: none;" })
            </div>


            <div style="width: fit-content; margin: auto; padding: 10px">
                <input type="submit" value="Sign up" style="margin: 10px; padding: 10px 25px; border: none; outline: none" />

            </div>

            @if (!ViewData.ModelState.IsValid)
            {
                <div style="color: red; padding: 10px;">
                    Incorrect username or password.
                </div>
            }

            <div style="width: fit-content; margin: auto; padding: 10px">
                <a href="" style="color: gray; text-decoration: underline;">Forgot password ?</a>
            </div>
        </div>
        }
    </div>
</section>


@*<section class="about_section layout_padding">
        <div class="container">
            <div style="padding: 20px; background: #00c6a9; color: white; margin: auto; text-align: center;">
                <div style="padding: 10px">
                    <h1>Authorization page</h1>
                </div>

                <div style="width: fit-content; margin: auto; padding: 10px">
                    <label for="username" style="text-align: left; width: 100%">Username</label><br>
                    <input type="text" name="username" style="padding: 10px 20px; border: none; outline: none;">
                </div>
                <div style="width: fit-content; margin: auto; padding: 10px">
                    <label for="username" style="text-align: left; width: 100%">Password</label><br>
                    <input type="text" name="username" style="padding: 10px 20px; border: none; outline: none;">
                </div>

                <div style="width: fit-content; margin: auto; padding: 10px">
                    <input type="submit" value="Login" style="margin: 10px; padding: 10px 25px; border: none; outline: none">
                    <input type="submit" value="Sign up" style="margin: 10px; padding: 10px 25px; border: none; outline: none">
                </div>

                <div style="width: fit-content; margin: auto; padding: 10px">
                    <a href="" style="color: gray; text-decoration: underline;">Forgot password ?</a>
                </div>


            </div>
        </div>
    </section>*@

<!-- end login section -->
<!-- info section -->
<section class="info_section ">
    <div class="container">
        <div class="info_top">
            <div class="info_logo">
                <a href="">
                    <img src="~/images/logo.png" alt="">
                </a>
            </div>
            <div class="info_form">
                <form action="">
                    <input type="email" placeholder="Your email">
                    <button>
                        Subscribe
                    </button>
                </form>
            </div>
        </div>
        <div class="info_bottom layout_padding2">
            <div class="row info_main_row">
                <div class="col-md-6 col-lg-3">
                    <h5>
                        Address
                    </h5>
                    <div class="info_contact">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Location
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Call +01 1234567890
                            </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope"></i>
                            <span>
                                demo@gmail.com
                            </span>
                        </a>
                    </div>
                    <div class="social_box">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_links">
                        <h5>
                            Useful link
                        </h5>
                        <div class="info_links_menu">
                            <a href="/Home">
                                Home
                            </a>
                            <a class="active" href="/Home/About">
                                About
                            </a>
                            <a href="/Home/Treatment">
                                Treatment
                            </a>
                            <a href="doctor.html">
                                Doctors
                            </a>
                            <a href="testimonial.html">
                                Testimonial
                            </a>
                            <a href="contact.html">
                                Contact us
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_post">
                        <h5>
                            LATEST POSTS
                        </h5>
                        <div class="post_box">
                            <div class="img-box">
                                <img src="~/images/post1.jpg" alt="">
                            </div>
                            <p>
                                Normal
                                distribution
                            </p>
                        </div>
                        <div class="post_box">
                            <div class="img-box">
                                <img src="~/images/post2.jpg" alt="">
                            </div>
                            <p>
                                Normal
                                distribution
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="info_post">
                        <h5>
                            News
                        </h5>
                        <div class="post_box">
                            <div class="img-box">
                                <img src="~/images/post3.jpg" alt="">
                            </div>
                            <p>
                                Normal
                                distribution
                            </p>
                        </div>
                        <div class="post_box">
                            <div class="img-box">
                                <img src="~/images/post4.png" alt="">
                            </div>
                            <p>
                                Normal
                                distribution
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end info_section -->